mongodb:
  # hosts: []
  # database: bbconnect_sync
  # user:
  # password:

oracle:
  connection_string: "username/******@dbserver.example.com/PROD.example.com"

sentry:
  url: # Set me!

bbconnect:
  password: "************"
